#inputs {
    margin-top: 20%;
}

#inputs div {
    margin-top: 10px;
    margin-bottom: 10px;
}


#inputs .input-group .btn .fa{
    width: 1em;
}

#time {
    margin-top: 10%;
    font-size: 600%;
    text-align: center;
}
